services:
  - type: web
    name: webmessages
    env: docker
    plan: free
    dockerfilePath: ./Dockerfile
    envVars:
      - key: PYTHONUNBUFFERED
        value: "1"
      - key: PORT
        value: "8000"
    healthCheckPath: /health
    autoDeploy: true